<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>agcorreios</name>
    <displayName><![CDATA[Transportadora Correios]]></displayName>
    <version><![CDATA[5.2.5]]></version>
    <description><![CDATA[Ofereça os serviços de transportadora dos Correios em sua loja.]]></description>
    <author><![CDATA[AGTI]]></author>
    <tab><![CDATA[shipping_logistics]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
    <limited_countries></limited_countries>
</module>
